# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment
venv/

# Ignore Allure reports and screenshots
reports/
allure-results/
reports/screenshots/

# Ignore PyCharm settings
.idea/
